#search-mm-btn {
    background: #4285f4;
    color: white;
    padding: 25px;
    font-size: 25px;
    border-radius: 100%;
}
#search-mm-btn:hover {
    background: #080808;
    color: white;
  
    cursor: pointer;
    
}